* {
    margin: 0;
    padding: 0;
    }
.container{
    height: 100%;
    width: 100%;
}

.footer{
  bottom: 0; left: 0;
  position:absolute;
  height: 80px; 
  width: 100%;
  background-color: black; 
  opacity: .8;  
}
.inner{
  margin: 0;
    padding: 0;
}

img.bg{
    min-width: 1024px;
    min-height: 720px;

    width:100%;
    height:700px;
    vertical-align: middle;
    position: relative;
    top:0;
    left:0;
}

/* Arrow Zoom Hover */
.hover-zoom:hover{
  transform: scale(1.5);
}

#rt-icon{
    position: absolute;
    top: 30%;
    left:54.5%;
    z-index: 10;
    color: orange;
    font-size: 30px;
}

#lt-icon{
    position: absolute;
    top:30%;
    left:44.9%;
    bottom: 75%;
    z-index: 10;
    color: orange;
    font-size: 30px;
}

@media screen and (max-width: 100%) { /* Specific to this particular image */
  
    img.bg {
      margin: 0;
    padding: 0;
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
  }
